@using SumoTech.Entity
@model Customer
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">
        Error to Delete:
        <p>@Model.Id</p>
        <p>@Model.FirstName</p>
        <p>@Model.LastName</p>
        <p>@Model.Phone</p>
        <p>@Model.Email</p>

    </div>
