@model SumoTech.Models.BasicElectronic

@{
    ViewBag.Title = "CreateElectronic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-wrapper">
            <h2 class="form-header">BasicElectronic</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-element", placeholder = "Enter the Brand" } })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-element", placeholder = "Enter the Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-element", placeholder = "Enter the Price" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-10">
                    <textarea id="Description" name="Description" class="form-element" cols="30" rows="10" placeholder="Enter the Description"></textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Production_year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Production_year, new { htmlAttributes = new { @class = "form-element", placeholder = "Enter the Production Year" } })
                    @Html.ValidationMessageFor(model => model.Production_year, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Supplierid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="Supplierid" name="Supplierid" class="form-element">
                        @foreach (var i in ViewBag.suppliers)
                        {
                            <option value="@i.Id">@i.Id</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ElectronicType, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-10">
                    <select id="ElectronicType" name="ElectronicType" class="form-element">
                        <option value="Coffe Machine">Coffe Machine</option>
                        <option value="HairDryer">HairDryer</option>
                        <option value="Kettle">Kettle</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
        }
    </div>